.icon-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin to separate items */
  }
  
  .icon-label mat-icon {
    margin-right: 10px; /* Add space between icon and label */
  }


  .span-style{
    margin-left: 10px;
  }
  
  